*.orig
*.rej
*.tar.bz2
*.tar.gz
*.tar.xz
*~
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
flex-*/
libtool
mkinstalldirs
stamp-*
compile
config.guess
config.rpath
config.sub
depcomp
install-sh
ltmain.sh
missing
test-driver
ylwrap
m4
