*.tar.bz2
*.tar.gz
.bootstrap
.deps
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
conf.in
config.cache
config.guess
config.h
config.log
config.status*
config.sub
configure
depcomp
flex
flex-*
install-sh
missing
mkinstalldirs
parse.c
parse.h
scan.c
skel.c
stamp-*
config.rpath
ylwrap
*.o
.libs
*.lo
*.la
libtool
ltmain.sh
*~
*.orig
*.rej
