*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.hk
*.hks
*.info*
*.ky
*.log
*.op
*.ops
*.pg
*.toc
*.tp
*.tps
*.vr
*.vrs
Makefile
Makefile.in
flex.1
flex.pdf
flex.ps
mdate-sh
stamp-*
version.texi
flex.html
texinfo.tex
