*.gmo
Makefile
Makefile.in
Makefile.in.in
Makevars.template
POTFILES
Rules-quot
boldquot.sed
en@boldquot.*header
en@boldquot.po
en@quot.*header
en@quot.po
flex.pot
insert-header.sin
quot.sed
remove-potcdate.sed
remove-potcdate.sin
stamp-*
